<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  th:fragment="modal"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="color: #333333">
        <h5 class="modal-title" id="exampleModalLabel">점수 채점결과</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="color: #333333">
        <p id="response-value"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          닫기
        </button>
        <form action="/learn/summaries" method="post" id="saveForm">
          <input type="hidden" name="inputValue" id="inputValue" />
          <input type="hidden" name="score" id="score" />
          <input type="hidden" name="paragraphId" id="paragraphId" />
          <input type="hidden" name="session" id="session" />
          <button type="submit" class="btn btn-success">결과 저장</button>
        </form>
      </div>
    </div>
  </div>
</div>
